.profile__info {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .profile__info {
    padding: 22.25px 19px 36px;
    align-items: center;
    text-align: center;
    gap: 14px;
  }
}
